.wrapper {
    width: 100%;
    display: table;
    border: 1px solid #C9B087;
    border-collapse: collapse;
}
.row {
    display: table-row;
}
.col {
    border: 1px solid #C9B087;
    display: table-cell;
    vertical-align: middle;
    padding: 6px;
    width: 25%;
}
.col:hover {
    visibility:hidden;
}
.row:nth-of-type(even) {
    background: #FFFFBF;
}
/* == Для разрешения 601px-1024px == */

@media only screen and (max-width: 1024px),
(min-device-width: 600px) and (max-device-width: 1024px) {
    .wrapper {
        border: 1px solid #C9B087;
    }
    .row {
        border: 1px solid #C9B087;
    }
    .col {
        border: none;
    }
    .row > .col:nth-child(1),
    .col:nth-child(3) {
        float: left;
        width: 50%;
        border-right: 1px solid #C9B087;
    }
    .row > .col:nth-child(2),
    .col:nth-child(4) {
        float: right;
        width: 45.6%;
    }
}
/* == Для разрешения < 600px == */

@media only screen and (max-width: 600px),
(min-device-width: 0px) and (max-device-width: 600px) {
    .wrapper {
        display: table;
        border: 1px solid #C9B087;
    }
    .row > .col:nth-child(1),
    .col:nth-child(3) {
        width: 100%;
    }
    .row > .col:nth-child(2),
    .col:nth-child(4) {
        width: 100%;
        box-sizing: border-box;
    }
    .row > .col:nth-child(2) {
        border-bottom: 1px solid #C9B087;
        border-top: 1px solid #C9B087;
    }
    .row > .col:nth-child(4) {
        border-top: 1px solid #C9B087;
    }
}